<h1>Has and Belongs to Many</h1>
<%= link_to 'Assembly', assemblies_path %>
<br/>
<br/>
<%= link_to 'Parts', parts_path %>
<br/>
<br/>
<h1>Has and Belongs to Many Through</h1>
<%= link_to 'Physicians', physicians_path %>
<br/>
<br/>
<%= link_to 'Patients', patients_path %>
